@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  background: url('./img/img.png');
    background-size: cover;
    background-position: center;
    color:rgb(255, 255, 255);
}

.container{
width: 420px;
height: 500px;
background-color: transparent;
border: 2px solid rgb(255, 255, 255);
border-radius: 10px;
color: rgb(255, 255, 255);
    padding: 30px 40px;
box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;;
}

.container h1{
    font-size: 30px;
    text-align: center;
}

.input-box{
    position: relative;
    width: 100%;
    height:  60px;
    margin: 30px 0;;
}
.input-box input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: solid 2px  rgb(255, 255, 255);
     border-radius: 40px;
    outline: none;
    font-size: 16px;
    color: white;
    padding: 20px 40px 20px 20px;
    margin-bottom: 20px;
}
.input-box::placeholder{
    color: rgb(250, 250, 250);
    
}
.input-box i{
    position: absolute;
    right: 25px;
    transform: translateY(100%);
font-size: 20px;
color: white;
}
.remember-forgot{
    display: flex;
    justify-content: space-between;
margin: -15px 0 15px;
}
.remember-forgot label input{
accent-color: white; 
margin-right: 10px;
}
.remember-forgot a{
    text-decoration: none;
    color: white;
}
.remember-forgot a:hover{
    text-decoration: underline;
}
.login{
    width: 100%;
    height: 60px;
    background-color: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 15px;
    color: black;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin-top: 16px;
}
.login:hover{
    background-color: transparent;
    border: 2px solid white;
    color: white;
    transition: 0.5s;
}
register-link{
font-size: 13px;
text-align: center;

}

register-link a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

register-link a:hover{
    text-decoration: underline;
}